*{
    margin: 0;
    padding: 0;
}
/* this style for the header */
.header{
    height: 90vh;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo{
    padding-left: 50px;
    color: #fff;
}
span{
    color: #ff7300;
    font-size: 25px;
}


.navber{
    padding: 10px;
    background: transparent;
    justify-content: space-between;
}

.head-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.navber ul{
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 60px;
    
    cursor: grab;
}

.navber ul li{
    width: auto;
    text-align: center;
    list-style-type: none;
    position: relative;
}
.navber ul li::before{
   content: '';
   position: absolute;
   transform: translate(50% -50%);
   top: 100%;
   width: 0%;
   height: 2px;
   background-color: #f18930;
   transition-duration: 0.5s;

}
.navber ul li:hover:before{
    width: 100%;
}

.searchber{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.searchber a{
    text-decoration: none;
    color: #ffffff;
}

.searchber input{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1.5px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover{
    border: 2px solid #ff5722;
    background: #ff5722;
    color: #fff;
}

/* this style for main */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 200px;
    padding-left: 200px;
}

.hero-text{
 color: #fff;
   
}

.hero-text h1{
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.hero-text h1 span{
    font-size: 80px;
    color: #ff7200;
}

.hero-text p{
    color: #f5f1f1;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.4;
}

.hero-img{
    width: 20%;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(25%, -22%);
}


.btnn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btnn:hover{
    border: 2px solid #ff5722;
    background: #ff5722;
    color: #fff;
}


/*this style for about section*/


.about h2{
    color: #333;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    width: auto;
    position: relative;
    padding-top: 5%;
}

.about h2::before{
    content: '';
    position: absolute;
    transform: translate(50% -50%);
    top: 100%;
    width: 9%;
    height: 2px;
    background-color: #000000;
    transition-duration: 0.5s
}
.about-sec{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img{
    padding-left: 5%;
    width: 30%;
    margin-right: 30px;
}

.about img{
    width: 70%;
    height: 50%;
    object-fit: cover;
    position: relative;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 10%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.about-text{
    color: #555;
}

.about h3{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}

.about p{
    padding-bottom: 5%;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
}
